@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#fb6b6b;
}
.container-initial, .container-cards{
    width: 40%;
    margin-left: 30%;
}
.name-logo{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}
.initial{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.single-card{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: relative; 
    cursor: pointer;
}
.question-text{
    width: 90%;
    word-wrap: break-word;
    font-family: 'Hammersmith One', sans-serif;
}
.logo-pointer{
    position: absolute;
    right: 10px;
    top: 10px;
}
.btns{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
}
.hidden{
    display: none;
}