
@media screen and (max-width: 400px){
    .initial{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .initial-name-logo{
        width: 52%;
    }
    .name-logo, .initial-name-logo{
        font-size: 32px;
    }
    .question-text{
        font-size: 15px;
    }    
}
@media screen and (min-width: 401px){
    .initial{
        padding: 20px;
    }
    .initial-name-logo{
        width: 65%;
    }
    .name-logo, .initial-name-logo{
        font-size: 40px;
    }
    .question-text{
        font-size: 20px;
    }    
}