@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
body{
    background-color:#fb6b6b;
}
.main{
    width: 100%;
    padding-bottom: 70px;
}
.name-logo, .initial-name-logo{
    padding-top: 15px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.initial, .start-initial, .init-recall{
    min-width: 200px;
    max-width: 300px;
    margin: auto;
}
.start-initial{
    margin-top: 100px;
}
.init-recall{
    padding-top: 50px;
}
.btn-start{
    border: 1px solid rgb(215, 9, 0);
    border-radius: 5px;
    padding: 15px;
    color: #fb6b6b;
    font-weight: bold;
    background-color: white;
    font-size: 15px;
    font-family: 'Hammersmith One', sans-serif;
    width: 100%;
    margin-top: 10px;
}
.initial-logo{
    width: 20%;
}
.initial-logo, .initial-name-logo{
    margin: auto;
}
.initial{
    display: flex;
    justify-content: space-around;
}
.single-card{
    min-width: 100px;
    max-width: 550px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: relative; 
}
.opened-card{
    background-color: rgb(255, 255, 212);
    height: 120px;
}
.question-text{
    width: 90%;
    word-wrap: break-word;
    font-family: 'Hammersmith One', sans-serif;
}
.logo-pointer{
    position: absolute;
    right: 10px;
    bottom: 0px;
    cursor: pointer;
    font-size: 30px;
}
.btns{
    width: 96%;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-family: 'Hammersmith One', sans-serif;
}
.single-btn{
    width: 30%;
}
.btn-forget, .btn-half, .btn-zap{
    padding: 15px;
    border-radius: 5px;
    color: white;
    border: none;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}
.btn-forget{
    background-color: rgb(255, 48, 48);
}
.btn-half{
    background-color: rgb(255, 146, 46);
}
.btn-zap{
    background-color: rgb(47, 190, 52);
}
[name=close-circle], .text-forget{
    color: rgb(255, 48, 48);
}
[name=help-circle], .text-half{
    color: rgb(255, 146, 46);
}
[name=checkmark-circle], .text-zap{
    color: rgb(47, 190, 52);
}
.text-forget, .text-half, .text-zap{
    text-decoration: line-through;
}
.footer{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: white;
    font-family: 'Hammersmith One', sans-serif;
}
.progress{
    text-align: center;
    font-size: 20px;
}
.concluded, .restart{
    margin: auto;
    width: 250px;
    word-wrap: break-word;
}
.concluded{
    padding-top: 10px;
}
.message{
    font-size: 15px;
}
.answers{
    display: flex;
    width: 250px;
    margin: auto;
}
.answers > div{
    margin: auto;
}
.btn-restart{
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #fb6b6b;
    font-size: 15px;
    font-family: 'Hammersmith One', sans-serif;
    width: 100%;
}
.ipt-goal{
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fb6b6b;
    background-color: white;
    font-family: 'Hammersmith One', sans-serif;
    box-sizing: border-box;
    width: 100%;
}
.select-deck{
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: rgba(100, 100, 100, 0.7);
    background-color: white;
    font-family: 'Hammersmith One', sans-serif;
    box-sizing: border-box;
    width: 100%;
}
.disabled{
    background-color: rgb(232, 232, 232);
    color: rgb(192, 192, 192);
    border: none;
}
.hidden{
    display: none;
}