$red-D70900: #D70900;

.welcome-text {
	font-family: "Righteous";
	font-weight: 400;
	font-size: 36px;
	line-height: 44.7px;
	text-align: center;
	color: white;
}

.button-init-recall {
	font-family: "Recursive";
	background-color: white;
	border: 1px solid $red-D70900;
	color: $red-D70900;
	padding: 15px;
	border-radius: 5px;
	width: 246px;
	font-size: 18px;
	font-weight: 400;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}